[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
Pillow = ">=8.1.1"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
scipy = "*"
pyyaml = "*"
pytest = "*"
jupyterlab = "*"

[requires]
python_version = "3.8"
